<div class="row">
  <h2 class="col-md-10 paragraph-title">Assistance Categories</h2>
</div>
<div class="row paragraph-container">
  <div class="row">
    <a>
      <div class="col-xs-6 paragraph categories-a">
        <div class="col-md-12 center paragraph">
          <h2>Line Management</h2>
        </div>
      </div>
    </a>
    <a href="#/assistance/costsandpayments">
      <div class="col-xs-6 paragraph categories-a">
        <div class="col-md-12 center paragraph">
          <h2>Costs and Payments</h2>
        </div>
      </div>
    </a>
    <a>
      <div class="col-xs-6 paragraph categories-a">
        <div class="col-md-12 center paragraph">
          <h2>Technical support</h2>
        </div>
      </div>
    </a>
    <a>
      <div class="col-xs-6 paragraph categories-a">
        <div class="col-md-12 center paragraph">
          <h2>Smart Life Services</h2>
        </div>
      </div>
    </a>
  </div>
</div>
