<div class="row">
  <h2 class="col-md-10 paragraph-title">The Group</h2>
</div>
<div class="row paragraph-container">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a href="#/thegroup/description">Group Description</a></li>
      <li role="presentation"><a href="#/thegroup/news">News</a></li>
      <li role="presentation"><a href="#/thegroup/governance">Governance</a></li>
      <li role="presentation" class="active"><a href="#/thegroup/businessandmarket">Business and Market</a></li>
      <li role="presentation"><a href="#/thegroup/investors">For Investors</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    <div class="col-md-12 paragraph paragraph-subtitle center">Business and Market</div>
    <div class="col-md-12 paragraph">
      <p><b>Proximity</b> (knowing the customer), <b>quality</b> (at every stage of the service experience) and *security* (of online personal data) are the key words in the customer approach. And a new equivalence model to strength equality of access to
        its fixed network for all operators by creating the new Wholesale department and investing over 120 million euros.</p>
    </div>
    <div class="col-md-12 paragraph">
      <p>Our strategic markets are Italy and Brasil. Operations are conducted by dedicate Business Units: the Domestic Business Unit - it includes fixed and mobile voce and data services for retail customers and wholesale operators, as well as international
        wholesale services (Telecom Italia Sparkle ) and IT solutions (Olivetti) - and the Brazil Busines Unit (TIM Brasil). </p>
    </div>
    <div class="col-md-12 paragraph">
      <p>Commercial management of the retail customers - namely private (individual consumers and families) and business customers - is based on these organizational drivers:</p>
      <p> <b>Guaranteeing</b> the end-to-end accountability of the marketing, sales and post-sales processes for each customer segment.
        <br/> <b>Encouraging</b> the development of integrated “customer centric” offers and the focus on digital market services.
        <br/> <b>Creating</b> synergies between commercial channels to increase the efficiency and effectiveness of the multichannel model.</p>
    </div>
  </div>
</div>
