<div class="row">
  <h2 class="col-md-10 paragraph-title">The Group</h2>
</div>
<div class="row paragraph-container">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#/thegroup/description">Group Description</a></li>
      <li role="presentation"><a href="#/thegroup/news">News</a></li>
      <li role="presentation"><a href="#/thegroup/governance">Governance</a></li>
      <li role="presentation"><a href="#/thegroup/businessandmarket">Business and Market</a></li>
      <li role="presentation"><a href="#/thegroup/investors">For Investors</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    <div class="col-md-12 paragraph paragraph-subtitle center">Group Description</div>
    <div class="col-md-12 paragraph">
      <div class="col-xs-8">
        <h3 class="col-md-12 underline">TIM in Italy</h3>
        <p class="col-md-6"><b>30 million</b> mobile lines</p>
        <p class="col-md-6"><b>11.5 million</b> mobile BB users</p>
        <p class="col-md-6"><b>11.7 milion</b> fixed retail connections</p>
        <p class="col-md-6"><b>7 milion</b> broadband accesses</p>
      </div>
      <div class="col-xs-4">
        <h3 class="underline">TIM in Brasil</h3>
        <p><b>66.2 million</b> mobile lines</p>
      </div>
    </div>
    <div class="col-md-12 center paragraph">
      <q>Telecom Italia, a company of people committed to build Italy's future</q>
      <p>Chairman, Giuseppe Recchi</p>
    </div>
    <div class="col-md-12 paragraph">
      <div class="col-md-6">
        <p>The future of our country passes through social and technological innovation. In the Group, about 53 thousand people work every day with this objective in mind. For the development of innovative technologies we will invest around 6.7 billion euros
          by the end of 2018.</p>
      </div>
      <div class="col-md-6">
        <p><span class="underline">Investments:</span> <b>5.2 billion</b> euros</p>
        <p><span class="underline">Revenues:</span> <b>19.7 billion</b> euros</p>
        <p><span class="underline">EBITDA:</span> <b>6.1 billion</b> euros</p>
        <p><span class="underline">Adjusted net financial debt:</span> <b>27.3 bllion</b> euros</p>
      </div>
    </div>
    <div class="col-md-12 paragraph">
      <p><span class="underline">Communication is freedom. Freedom to communicate.</span>
        <br/> In the 21st century only those who can share ideas and experience are really free to pursue their aspirations. Only a group who think big can actually promote progress and prosperity, ensuring the full freedom to communicate. Always. Anywhere.
        Better.</p>
    </div>
  </div>
</div>
