<div class="row">
  <h2 class="col-md-10 paragraph-title">The Group</h2>
</div>
<div class="row paragraph-container">
  <div class="col-md-2 col-xs-12">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a href="#/thegroup/description">Group Description</a></li>
      <li role="presentation" class="active"><a href="#/thegroup/news">News</a></li>
      <li role="presentation"><a href="#/thegroup/governance">Governance</a></li>
      <li role="presentation"><a href="#/thegroup/businessandmarket">Business and Market</a></li>
      <li role="presentation"><a href="#/thegroup/investors">For Investors</a></li>
    </ul>
  </div>
  <div class="col-md-10 col-xs-12">
    <div class="col-md-12 paragraph paragraph-subtitle center">News</div>
    <div class="col-md-12 article col-xs-12">
      <h3 class="col-xs-12 underline center article-title">Telecom Italia on the podium for web and social communication</h3>
      <div class="col-mds-4 col-xs-12">
        <img src="img/web_ranking.png" class="img-responsive center img-max-300" alt="Responsive image">
      </div>
      <div class="col-md-8 col-xs-12">
        <p class="paragraph">It ranks second in the prestigious Webranking by Comprend for best online corporate communication and its accounts are among the most popular on Twitter according to the Digital Close to Media study.</p>
        <div class="center">
          <button class="big-button"> Read More </button>
        </div>
      </div>
    </div>
    <div class="col-md-12 article col-xs-12">
      <h3 class="col-xs-12 underline center article-title">Big Data Challenge 2015: the winners</h3>
      <div class="col-xs-12">
        <p class="paragraph">On September 21 the two project which won the challenge have been awarded during the TIM Big Data Jam event which was held in Rome.
          <br/> For the Academic Track, the winner is the UNIMORE team, from the University of Modena and Reggio Emilia, with the project “Interaction Diversity to Measure Social Capital”.</p>
        <div class="center">
          <button class="big-button"> Read More </button>
        </div>
      </div>
    </div>
  </div>
</div>
