<div class="row"><h2 class="col-md-10 paragraph-title">Wo we are</h2></div>
<div class="row paragraph-container">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#/whoweare/innovation">Innovation</a></li>
      <li role="presentation"><a href="#/whoweare/testimonials">Testimonials</a></li>
      <li role="presentation"><a href="#/whoweare/projects">Projects</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    <div class="col-md-12 paragraph">
      <div class="col-md-5">
        <img src="img/innovation_idea.jpg" class="img-responsive center img-max-300" alt="Responsive image">
      </div>
      <div class="col-md-7">
        <p> Ordinary people, startupper, journalists, designers, writers or entrepreneurs recount, in an ideal kilometer of road on board a Panda TIM, such as digital and new networks are changing our lives and our future. Kilometers of road that lead to
          fiber kilometers, more than 16 million, Telecom Italy and TIM will lay by 2017, to connect Italy to Italy tomorrow.
        </p>
      </div>
    </div>
    <div class="col-md-12 center paragraph">
      <h2>Innovation, the driving force of the future !</h2>
    </div>
    <div class="col-md-12 paragraph">
      <div class="col-md-6">
        <p>The future belongs to those who have the power to dream. The first Corporate Venture Capital Italian. TIM shares in the growth of innovative startups in the Internet and digital life, supporting them in the development phase.</p>
      </div>
      <div class="col-md-6">
        <img src="img/innovation.jpg" class="img-responsive center img-max-300" alt="Responsive image">
      </div>
    </div>
  </div>
</div>
