<div class="row article">
  <div class="col-md-4">
    <div class="col-xs-12">
      <img ng-src="img/phones/appleIphone6S.png" class="img-responsive center img-max-300" alt=iphone6S>
    </div>
    <h2 class="center">Apple</h2>
    <h3 class="center paragraph">Iphone 6S</h3>
    <h3 class="center"> Check out the new iPhone 6S !</h3>
    <div class="center paragraph">
      <a href="#/devices/phones/1/presentation">
        <button class="big-button"> Info </button>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-xs-12">
      <img ng-src="img/phones/nokiaLumia950.jpg" class="img-responsive center img-max-300" alt=nokiaLumia950>
    </div>
    <h2 class="center">Nokia</h2>
    <h3 class="center paragraph">Lumia 950</h3>
    <h3 class="center"> 400 €</h3>
    <div class="center paragraph">
      <a href="#/devices/phones/3/presentation">
        <button class="big-button"> Info </button>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-xs-12">
      <img ng-src="img/phones/samsungS7.png" class="img-responsive center img-max-300" alt=nokiaLumia950>
    </div>
    <h2 class="center">Samsung</h2>
    <h3 class="center paragraph">Galaxy S7</h3>
    <h3 class="center"> 700 €</h3>
    <div class="center paragraph">
      <a href="#/devices/phones/4/presentation">
        <button class="big-button"> Info </button>
      </a>
    </div>
  </div>
  <div class="col-md-12 paragraph">
    <h3 class="center paragraph">Do you want another phone ? </h3>
    <div class="center">
      <a href="#/devices/phones">
        <button class="big-button">All Phones </button>
      </a>
    </div>
  </div>
</div>
<div class="row article">
  <div class="col-md-7">
    <div class="col-xs-6">
      <img ng-src="img/smartLifeServices/payWPhone.png" class="img-responsive center img-max-300" alt=iphone6S>
    </div>
    <div class="col-xs-6">
    <h2 class="center">Pay with your phone</h2>
    <p class="center">With TIM Wallet you can use your smartphone to pay in all authorized shops.</p>
    <div class="center paragraph">
      <a href="#/smartlife/personalservices/1/description">
        <button class="big-button">Info </button>
      </a>
    </div>
  </div>
  </div>
  <div class="col-md-5 paragraph">
    <div class="center">
      <h3 class="paragraph">Check out our Smart life services</h3>
      <a href="#/smartlife/all">
        <button class="big-button"> Smart Life Services </button>
      </a>
    </div>
  </div>
</div>
