<div class="row">
  <h2 class="col-md-10 paragraph-title">Devices Categories</h2>
</div>
<div class="row paragraph-container">
  <div class="row">
    <a href="#/devices/phones">
      <div class="col-md-6 col-xs-12 paragraph categories-a">
        <div class="col-md-12">
          <img src="img/smartphone_logo.png" class="img-responsive center img-categories" alt="Responsive image"> </div>
        <div class="col-md-12 center paragraph">
          <h3>Smartphones and Phones</h3>
        </div>
      </div>
    </a>
    <a>
      <div class="col-md-6 col-xs-12 paragraph categories-a">
        <div class="col-md-12">
          <img src="img/tablette_logo.png" class="img-responsive center img-categories" alt="Responsive image"> </div>
        <div class="col-md-12 center paragraph">
          <h3>Tablet and Computers</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="row">
    <a>
      <div class="col-md-6 col-xs-12 paragraph categories-a">
        <div class="col-md-12">
          <img src="img/modem_logo.png" class="img-responsive center img-categories" alt="Responsive image"> </div>
        <div class="col-md-12 center paragraph">
          <h3>Modem and Networking</h3>
        </div>
      </div>
    </a>
    <a href="#/devices/tvandsmartliving">
      <div class="col-md-6 col-xs-12 paragraph categories-a">
        <div class="col-md-12">
          <img src="img/smartwatch_logo.png" class="img-responsive center img-categories" alt="Responsive image"> </div>
        <div class="col-md-12 center paragraph">
          <h3>TV and Smart Living</h3>
        </div>
      </div>
    </a>
  </div>
</div>
