<div class="row">
  <div class="col-md-2">
    <div class="row">
      <h2 class="col-md-12 paragraph-title">Devices</h2>
      <h3 class="col-md-12 paragraph">Phones</h3>
    </div>
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a href="#/devices/phones/{{phone.idPhone}}/presentation">Presentation</a></li>
      <li role="presentation"><a href="#/devices/phones/{{phone.idPhone}}/characteristics">Technical Characteristics</a></li>
      <li role="separator" class="divider"></li>
      <li role="presentation"><a href="#/devices/phones/{{phone.idPhone}}/smartlife">Smart Life Services</a></li>
      <li role="presentation" class="active"><a href="#/devices/phones/{{phone.idPhone}}/assistance">Assistance</a></li>
    </ul>
  </div>
  <div class="col-md-10 paragraph-container">
    <div class="col-md-12 paragraph-subtitle center">{{phone.constructor}} {{phone.name}}</div>
    <div class="col-md-12 paragraph paragraph-subtitle center">Assistance</div>
    <h3> Costs and Payments </h3>
    <p> <b>Rechargeable</b>
      <br/>
      <span ng-repeat="assistance in assistances">
        <a href="#/assistance/costsandpayments/{{assistance.idAssistance}}/description">{{assistance.name}}</a>
        <br/>
      </span>
    </p>
  </div>
  <div class="col-md-offset-2 col-md-10 back-button paragraph center">
    <a href="#/devices/phones/">
      <button class="big-button"> Back to Phones </button>
    </a>
  </div>
</div>
