<div class="row">
  <h2 class="col-md-10 paragraph-title">Smart Life Services Categories</h2>
</div>
<div class="row paragraph-container">
  <div class="row">
    <a>
      <div class="col-md-6 col-xs-12 paragraph categories-a">
        <div class="col-md-12">
          <img src="img/TVSLServices.png" class="img-responsive center img-categories" alt="Responsive image"> </div>
        <div class="col-md-12 center paragraph">
          <h3>TV and Entertainment</h3>
        </div>
      </div>
    </a>
    <a href="#/smartlife/healthandwellness">
      <div class="col-md-6 col-xs-12 paragraph categories-a">
        <div class="col-md-12">
          <img src="img/heartSLServices.png" class="img-responsive center img-categories" alt="Responsive image"> </div>
        <div class="col-md-12 center paragraph">
          <h3>Health and Wellness</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="row">
    <a>
      <div class="col-md-6 col-xs-12 paragraph categories-a">
        <div class="col-md-12">
          <img src="img/homeSLServices.png" class="img-responsive center img-categories" alt="Responsive image"> </div>
        <div class="col-md-12 center paragraph">
          <h3>Home and Family</h3>
        </div>
      </div>
    </a>
    <a href="#/smartlife/personalservices">
      <div class="col-md-6 col-xs-12 paragraph categories-a">
        <div class="col-md-12">
          <img src="img/cardSLServices.png" class="img-responsive center img-categories" alt="Responsive image"> </div>
        <div class="col-md-12 center paragraph">
          <h3>Personal Services</h3>
        </div>
      </div>
    </a>
  </div>
</div>
