<div class="row"><h2 class="col-md-10 paragraph-title">Wo we are</h2></div>
<div class="row paragraph-container">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a href="#/whoweare/innovation">Innovation</a></li>
      <li role="presentation"><a href="#/whoweare/testimonials">Testimonials</a></li>
      <li role="presentation" class="active"><a href="#/whoweare/projects">Projects</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    <div class="col-md-12 paragraph">
      <div class="col-md-5">
        <img src="img/globalgoals.jpg" class="img-responsive center img-max-300" alt="Responsive image">
      </div>
      <div class="col-md-7">
        <p> On September 25, representatives of the 193 UN member states will commit to 17 Global Goals: macro-objectives for the next 15 years, to put an end to hunger and poverty, inequality and injustice, overfishing and climate change. A mission from which depends the quality of life of future generations, the objectives that need the active contribution of all. TIM, along with other mobile operators and media from around the world, supports the campaign to disseminate the Global Goals: 7 billion people in 7 days to say "It's time to change the world".
        </p>
      </div>
    </div>
    <div class="col-md-12 center paragraph">
      <h2>Our Projects !</h2>
    </div>
    <div class="col-md-12 paragraph">
      <div class="col-md-6">
        <p>The new frontier of research laboratories in university centers: 5 universities, about 350 young people involved, including 200 in the innovation areas of the company. TIM signed a project to promote the growth, research and development.</p>
      </div>
      <div class="col-md-6">
        <img src="img/openlabs.jpg" class="img-responsive center img-max-300" alt="Responsive image">
      </div>
    </div>
  </div>
</div>
