<div class="row">
  <h2 class="col-md-10 paragraph-title">Wo we are</h2>
</div>
<div class="row paragraph-container">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a href="#/whoweare/innovation">Innovation</a></li>
      <li role="presentation" class="active"><a href="#/whoweare/testimonials">Testimonials</a></li>
      <li role="presentation"><a href="#/whoweare/projects">Projects</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    <div class="col-md-12 paragraph">
      <p> TIM, which always stands for communication, is radically transformed to become a company whose technology allows people to connect with each other and communicate. TIM launch campaign of the new positioning was born to tell this new connected world,
        through the involvement of three exceptional testimonials that present their point of view: Sir Tim Berners-Lee, Fabio Fazio and Pif.</p>

      <p>Sir Timothy John Berners-Lee is a British computer scientist, inventor of the World Wide Web and promoter of the Internet as a communication tool to grow both from the cultural and economic point of view.</p>

      <p>No one better than him, you can tell how the hyper-connectivity is redefining the way we live, increasing our chances and evolving the way we relate to others and the world around us by supporting the new campaign concept.
      </p>
    </div>
    <div class="col-md-12 paragraph center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/-rxy9lI8-7Q" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
